* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(5, 5, 128);
    min-height: 200px;
}

.clock h1 {
    position: relative;
    display: block;
    color: white;
    text-align:center;
    font-weight: bold;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 25px;
}

.time {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hour {
    display: flex;
    flex-direction: column;
    color: white;
    background: #2196f3;
    margin: 10px;
}

.hour div {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px rgba(0, 0, 0, .2);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#000);
}

.number {
    font-size: 50px;
}

.note {
    background: #127fd6;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#seconds {
    background-color: tomato;
}

@media screen and (max-width: 400px) {
    .time, .hour {
        display: flex;
        flex-direction: column;
    }

}